Backend/.env

/backend/test.js
Backend/test.js

/backend/testai.js
Backend/testai.js

/backend/test-or.js
Backend/test-or.js



# Environment variables
.env
.env.local
.env.development
.env.production
*.env
